<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://wwww.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id="com.esaramago.notas"
		version="0.0.4">

	<!--<preference name="phonegap-version" value="2.9.0"/>-->

    <name>Notas</name>
    <description>Bloco de notas</description>
    <author href="https://esaramago.com" email="emanuel@esaramago.com">Emanuel Saramago</author>

    <icon src="icon.png"/>

    <plugin name="Globalization" value="org.apache.cordova.Globalization" />

</widget>