<?xml version="1.0" encoding="UTF-8" ?>
<widget id="com.notas.hello" version="0.0.3">

	<!--<preference name="phonegap-version" value="2.9.0"/>-->

    <name>Notas</name>
    <description>Bloco de notas</description>
    <author href="https://esaramago.com" email="emanuel@esaramago.com">Emanuel Saramago</author>

    <icon src="icon.png"/>

    <plugin name="Globalization" value="org.apache.cordova.Globalization" />

</widget>