<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"

        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        version     = "1.0.0"
        versionCode = "10" >

    <name>Notas</name>
    <description>Bloco de notas</description>
    <author href="https://esaramago.com" email="emanuel@esaramago.com">Emanuel Saramago</author>

    <icon src="img/icon.png" />

</widget>